{% extends 'base.html' %}

{%load static%}

{%block content%}
    {%for post in posts%}
<div class="card text-center">
  <div class="card-header">
    {%if post.image%}
  <img src="{{post.image.url}}" class="card-img-middle" alt="..." width="300" height="250">
    {%else%}
    <img src={% static 'placeholder.png' %}
    {%endif%}
  </div>
  <div class="card-body">
      <h1 class="card-title">{{post.title}}</h1>
    <p class="card-text">{{post.content}}</p>
    <p class="card-text">{{post.rate}}</p>
      <p class="card-text">{{post.created_at}}</p>
      <p class="card-text">{{post.updated_at}}</p>
    <a href="/posts/{{post.id}}/" class="btn btn-primary">Go to post</a>
  </div>
  <div class="card-footer text-body-secondary">
    2 days ago
  </div>
</div>
    {%endfor%}

{%endblock%}



